/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* --------------------- CSS générale ------------------------------- */
.titre{
	-fx-font-size: 100px; 
	-fx-font-weight: bold;
	-fx-text-fill: #F3AA27;
}

.bg{
    -fx-background-color : #EBFFA9;
    -fx-padding : 10; 
	-fx-spacing : 15; 
}

.carte{
	-fx-background-color: red;
	-fx-alignment : center;
	
	
}

.conteneur{
	-fx-padding : 5;
	-fx-border-color : #F3AA27;
}

/* ---------------------Page Accueil ------------------------------- */
.accueil{
	-fx-padding: 20; 
	 -fx-spacing: 15; 
}

.buttonVb{
	-fx-padding: 20; 
	 -fx-spacing: 15; 
}

.bouton{
	-fx-background-color: #FFC808;
	-fx-text-fill: #FFF9EB;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-border-radius: 8px;
	-fx-border-style: none;
	-fx-background-radius: 8px;
	-fx-cursor: hand;
	-fx-effect: dropshadow(gaussian, #c58009, 0, 0, 0, 10);
	
}

.bouton:hover {
	-fx-background-color: #FFB208;
	-fx-text-fill: #f5f5f5;
	-fx-background-radius: 8px;
	-fx-border-radius: 8px;
}

.bouton:pressed {
	-fx-background-color: #FFB208;
	-fx-effect: dropshadow(gaussian, #c58009, 0, 0, 0, 0);
	-fx-translate-y: 5;
}

#boutonAccueil{
	-fx-font-size:5em;
	-fx-padding: 8px 8px;
	-fx-border-radius: 15px;
	-fx-background-radius:15px;

}

#boutonTableau{
	-fx-font-size:2em;
	-fx-padding: 10px 15px;
	-fx-border-insets: 5px;
	-fx-background-insets: 5px;

}

/* --------------------- Tableau Solitaire ------------------------------- */
ImageView{
	-fx-effect: dropshadow(gaussian, #BFD181, 6, 0.3, 2, 3);
}
#imgAccueil{
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 0, 0, 0, 0);
}

#VboxPioche{
	-fx-padding : 10px;
}


.dialogVictoire .header-panel{
	-fx-background-color : linear-gradient(to bottom, #ebffa9, #ffd77e);
}

.dialogVictoire {
	-fx-background-color : linear-gradient(to bottom,#ebffa9, #b8ff56);
}

.dialogVictoire .label {
    -fx-text-fill: black;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.dialogVictoire .button{
	-fx-background-color: #FFC808;
	-fx-text-fill: #FFF9EB;
	-fx-text-alignment: center;
	-fx-border-radius: 8px;
	-fx-border-style: none;
	-fx-background-radius: 8px;
	-fx-font-weight: bold;
	-fx-cursor: hand;
	-fx-effect: dropshadow(gaussian, #c58009, 0, 0, 0, 10);
	-fx-font-size:1.5em;
	-fx-padding: 10px 15px;
}
.dialogVictoire .button:hover{
	-fx-background-color: #FFB208;
	-fx-text-fill: #f5f5f5;
	-fx-font-weight: bold;
	-fx-background-radius: 8px;
	-fx-border-radius: 8px;
}
.dialogVictoire .button:pressed{
	-fx-background-color: #FFB208;
	-fx-effect: dropshadow(gaussian, #c58009, 0, 0, 0, 0);
	-fx-translate-y: 5;
}
.dialogVictoire .button-bar{
	-fx-padding: 10 10 45 10;

}




